.flex-container {
	display: -webkit-flex;
	display: flex;
}
nav > ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;
}
nav > ul >li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px; 
	background-color: blue;
}
li > a {
	color: white;
	text-decoration: none;
}
nav > ul > li:hover {
	background-color: white;
	cursor: pointer;
}
li > a:hover {
	color: blue;	
}
.jumbotron {
	display: flex;
	align-items: center;
	justify-content: center;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}	
.gallery img {
	width: 400px;
	height: 350px;
	flex-wrap: wrap;
	object-fit: cover;
	justify-content: center;
	align-items: center;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cards p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}
footer {
	display: flex;	
}
.adres {
	flex-grow: 2;	
}
footer p {
	margin: 10px;
}